{{>layout/header}}

<h1>채팅방 목록</h1>
<div class="col-md-12">
    <form action="/chatPageList/chatRoomCreate" method="GET">
        <div class="col-md-6">
            <input type="text" id="chat_room_name" name="chat_room_name" class="form-control">
            <button type="submit" class="btn btn-primary">채팅방 만들기</button>
        </div>
    </form>
</div>

{{>layout/footer}}