{{>layout/header}}

<h1>스프링 부트로 시작하는 웹 채팅 서비스</h1>
<div class="col-md-12">
    <div class="col-md-6">
        <a href="/chatRoomList" role="button" class="btn btn-primary">채팅방 페이지 진입</a>
    </div>
</div>

{{>layout/footer}}