{{>layout/header}}

<h1>캐치마인드 크롤링</h1>
<div class="container col-md-12">
    <div class="col-md-6">
        <a href="/chat/chatRoomList" role="button" class="btn btn-primary">채팅방 페이지 진입</a>
        <a href="" role="button" class="btn btn-info">로그인</a>
        <a href="/user/signup" role="button" class="btn btn-info">회원가입</a>
    </div>
</div>

{{>layout/footer}}